* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a, li {
    text-decoration: none;
    list-style-type: none;
  }
  
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
  
  body {
    background-color: #292D34;
  }
  
  .header__wrapper {
    display: flex;
    margin-top: 57px;
    align-items: center;
    justify-content: space-between;
  }
  .header__menu {
    display: flex;
    gap: 85px;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 26px;
    padding-left: 67px;
    background-color: #4F5359;
    border-radius: 30px;
    height: 83px;
    max-width: 1050px;
    font-size: 24px;
  }
  .header__logo {
    margin-left: 232px;
  }
  .header__link {
    color: #fff;
  }
  .header__nav {
    position: right;
  }
  .header__additional_menu {
    position: right;
  }

  
  .main{
    display: flex;
    gap: 35px;
    margin-top: 115px;
  }
  .box{
    background-color: #4F5359;
    border-radius: 30px;
    height: 600px;
    width: 700px;
  }
  .Nissan{
    max-height: 528px ;
    max-width: 800px ;
  }
  h1{
    margin-bottom: 41px;
  }
  .box__tixt{
    font-size: 40px;
    color: #fff;
    margin-left: 55px;
    margin-bottom: 26px;
  }
  .box__additional-information{
    display: flex;
    gap: 40px;
  }
  .box__Power{
    color: #fff;
    font-size: 48px;
    margin-left: 55px;
    margin-top: 20px;
  }
  .arron{
    display: flex;
    margin: 0 auto;
    margin-top: 68px;
  }



  .footer__container {
    display: flex;
    max-width: 1413px;
    margin: 0 auto;
  }
  .footer__line {
    margin-top: 186px;
    margin-bottom: 45px;
    color: #FF0000;
  }
  .footer__social-netmork {
    display: flex;
  }
  .footer__social-netmork {
    display: flex;
    gap: 800px;
  }
  .footer__title {
    background-color: #005DFF;
    padding-left: 38px;
    padding-right: 169px;
    padding-bottom: 100px;
    border-radius: 30px;
    color: #fff;
    max-width: 376px;
    max-height: 200px;
  }
  .footer__subtitle {
    font-size: 16px;
    display: flex;
    gap: 30px;
    border-radius: 10px;
    margin-top: 28px;
  }
  .footer__subtitle-Telegram {
    background-color: #000;
    color: #fff;
    padding-left: 14px;
    padding-right: 86px;
    padding-bottom: 100px;
    border-radius: 10px;
    max-width: 120px;
    max-height: 100px;
  }
  .footer__subtitle-VK {
    background-color: #000;
    color: #fff;
    padding-left: 14px;
    padding-right: 86px;
    padding-bottom: 100px;
    border-radius: 10px;
    max-width: 120px;
    max-height: 100px;
  }
  .footer__text {
    color: #fff;
  }
  .footer__mail {
    font-size: 24px;
  }
  .footer__policy {
    font-size: 16px;
  }
  .footer__policy {
    color: #fff;
    margin-top: 39px;
  }